<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include shared/styles %>

    <title></title>

    <style type="text/css">
    .error-message{
      color:red;
      font-size: 14px;
      padding-top: 5px;
      font-weight: bold;
    }
    </style>

</head>
<body>

    <div class="container" style="padding-top:50px;">
          <div class="login-container-modal-header">
            <h4 class="modal-title" id="myModalLabel">Login/Signup</h4>
          </div>
          <form id="login-form" method = "post" action = "/app-version/register" enctype="multipart/form-data" >
              <input style="margin-left:0px;margin-right:0px;" class = "form-control-personal" type = "text" placeholder="version" name="version" />
              <input style="margin-left:0px;margin-right:0px;" class = "form-control-personal" type = "text" placeholder="version name" name="versionName" />
              <input type="text" name="details" placeholder="details" class="form-control-personal">
              <input type="file" name="filetoupload" class="form-control-personal">
            <%if(typeof error != 'undefined'){%>
              <div class="error-message"><%=error.message%></div>
            <%}%>
            <button type="submit" class="btn btn-primary login-local" style="margin-top:20px;">Register</button>
              

          </form>
            
    </div>
    
</body>
<% include shared/scripts %>
</html>