<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/muikit.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <% include shared/styles %>

    <title></title>

    <style type="text/css">
      th, td{
        text-align: center;
      }

    </style>

</head>
<body>

   <div class="uk-flex" uk-grid>
     <div class="left-section">
        <div class="header-info truck-image">
          <a href="#toggler" class="uk-navbar-nav uk-navbar-toggle" data-uk-offcanvas="{target:'#toggler'}"></a>
          <form action="/search" method="POST" id="searchIMEI">
            <input type="text" name="imei" class="uk-input">
            <button class="uk-button uk-button-primary search-button" type="input"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="main-info main-inner-container">
          <p>IMEI</p>
          <p class='imei' id="imei"><b>39875793564729474</b></p>
          <p style="margin-top: 5px;">CONDUCTOR</p>
          <p class="conductor-name"><b>JUAN PACO PEDRO</b></p>
        </div>
        <div class="uk-grid uk-grid-collapse uk-child-width-expand@s uk-text-center main-inner-container" uk-grid>
            <div class="realtime-card velocity uk-width-1-3 uk-text-center">
              <p>VELOCIDAD</p>
              <div class="velocity-level stats" id="velocity-progress"></div>
            </div>
            <div class="realtime-card battery-level uk-width-1-3 uk-text-center">
              <p>BATERIA</p>
              <div id="battery-progress" class="stats"></div>
            </div>
            <div class="realtime-card battery-status uk-width-1-3 uk-text-center">
              <p>STATUS</p>
              <div id="battery-status"><b></b></div>
            </div>
        </div>
        <div class="more-stats main-inner-container">
          <div class="uk-grid" uk-grid>
            <div class="uk-width-1-2 uk-text-left"><p>VELOCIDAD PROMEDIO</p></div>
            <div class="uk-width-1-2 uk-text-right"><p><b>4.5</b></p></div>
          </div>
          <div class="uk-grid" uk-grid>
            <div class="uk-width-1-2 uk-text-left"><p>TIEMPO DE RUTA</p></div>
            <div class="uk-width-1-2 uk-text-right"><p><b>419</b></p></div>
          </div>
        </div>

     </div>
     <div class="right-section uk-width-expand">
          <div class="trucks-count">
            <span class="numberOfTrucks">0</span> TRANSPORTES
          </div>
          <div id="mapid" style="width:100%;"></div>
     </div>
   </div>

    

    <div id="toggler" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul>
                <li><a href="#" data-uk-smooth-scroll>Dashboard</a></li>
                <li><a href="#" data-uk-smooth-scroll>Caminos</a></li>
                <li><a href="#" data-uk-smooth-scroll>Asignados</a></li>
                <li><a href="#" data-uk-smooth-scroll>Obras</a></li>
            </ul>
        </div>
    </div>


   

    <div class="container" style="padding:50px;">
         
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>IMEI</th>
                  <th>Velocity</th>
                  <th>Bearing</th>
                  <th>Battery Level</th>
                  <th>Battery Temperature</th>
                  <th>Battery Status</th>
                </tr>
              </thead>
              <tbody class="main-data">

              </tbody>
            </table>
          </div>

          
    </div>


    
</body>
<% include shared/scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


<script>
      
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>


  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js"
    integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w=="
    crossorigin=""></script>
    <script type="text/javascript" src="/bower_components/leaflet-rotatedmarker/leaflet.rotatedMarker.js"></script>
    <script type="text/javascript" src="/bower_components/progressbar.js/dist/progressbar.js"></script>
<script type="text/javascript">
  var mymap = L.map("mapid").setView([19.5125, -98.9800], 13);
  //mymap.options.minZoom = 13;
  
  

  L.esri.basemapLayer("Topographic").addTo(mymap);
  var caminos = L.esri.featureLayer({
    url: '/api/layer'
  }).addTo(mymap);

  //mymap.options.maxZoom = 14;
  L.esri.tiledMapLayer({
      url: "/api/title-layer",

    }).addTo(mymap);

  var socket = io();
  socket.emit('browserConnect', '');
  var markers = {};

  var yellowIcon = L.icon({
       iconUrl: '/images/arrow_yellow.png',
       iconRetinaUrl: '/images/arrow_yellow.png',
       iconSize: [21, 21],
       iconAnchor: [11, 11],
       popupAnchor: [0, -8],
  });

  var greenIcon = L.icon({
       iconUrl: '/images/arrow_green.png',
       iconRetinaUrl: '/images/arrow_green.png',
       iconSize: [21, 21],
       iconAnchor: [11, 11],
       popupAnchor: [0, -8],
  });

  var redIcon = L.icon({
       iconUrl: '/images/arrow_red.png',
       iconRetinaUrl: '/images/arrow_red.png',
       iconSize: [21, 21],
       iconAnchor: [11, 11],
       popupAnchor: [0, -8],
  });


  var markersLayer = new L.LayerGroup();
  var battery = new ProgressBar.Circle("#battery-progress", {
                strokeWidth: 6,
                easing: 'easeInOut',
                duration: 1400,
                color: '#53b877',
                trailColor: '#eee',
                trailWidth: 1,
                svgStyle: null,
                text: {
                    value: "",
                    alignToBottom: false
                  }
              });
  var velocity=  new ProgressBar.Circle("#velocity-progress", {
                strokeWidth: 6,
                easing: 'easeInOut',
                duration: 1400,
                color: '#f53b9d',
                trailColor: '#eee',
                trailWidth: 1,
                svgStyle: null,
                text: {
                    value: "",
                    alignToBottom: false
                  }
              });
  socket.on('updateObjectDetailsForBrowsers', function(data){
    markersLayer.clearLayers();
    var locations = [];
    $(".main-data").html("");
    var length = 0;
    

    for (var key in data) {
      if (data.hasOwnProperty(key)) {
        var details = data[key];
        var icon = null;
        length++;
        if(details.latitude){

          if(details.velocity>40){
            icon=redIcon;
          }
          else if(details.velocity<40 && details.velocity >0){
            icon=greenIcon;
          }
          else
          {
            icon=yellowIcon;
          }
          var popup = L.popup()
                      .setLatLng([details.latitude, details.longitude])
                      .setContent('<b>'+details.IMEI+'</b><br><b>velocity: </b>'+details.velocity+'</br><b>batteryLevel: </b>'+details.batteryLevel+'</br><b>batteryTemperature: </b>'+details.batteryTemperature+'<br /><b>batteryStatus: </b>'+details.batteryStatus);

          var marker = L.marker([details.latitude, details.longitude], {
              clickable: true,
              icon: icon,
              rotationAngle: details.bearing,
              markerData:details
          }).bindPopup(popup, {showOnMouseOver:true});
          marker.on('click', function(e){
            console.log(e.target.options.markerData);
            var markerdetails = e.target.options.markerData;
            $.ajax({
              url:"/api/truck-picture",
              method:"POST",
              data:{
                IMEI:markerdetails.IMEI
              },
              success:function(data){
                $(".truck-image").css("background-image",'url('+JSON.parse(data).url+')');
                velocity.setText((Math.round(markerdetails.velocity*100)/100)+' km/hr');
                velocity.animate(markerdetails.velocity/80); 
                battery.setText(markerdetails.batteryLevel+'%');
                battery.animate(markerdetails.batteryLevel/100);
                $("#imei").html("<b>"+markerdetails.IMEI+"</b>");
                $("#battery-status").html("<b>"+markerdetails.batteryStatus+"</b>")
              },
              error:function(err){
                console.log(err);
              }
            })
          });
          markersLayer.addLayer(marker);
          locations.push({lat: details.latitude, lng: details.longitude});
        }
        var html = "<tr><td>"+details.IMEI+"</td><td>"+details.velocity+"</td><td>"+details.bearing+"</td><td>"+details.batteryLevel+"</td><td>"+details.batteryTemperature+" C"+"</td><td>"+details.batteryStatus+"</td></tr>";
          $(".main-data").append(html);
      }
    }
    $(".numberOfTrucks").html(length);
    markersLayer.addTo(mymap);  
  });
</script>

<script type="text/javascript">
  $("#searchIMEI").submit(function(e){
    var IMEI = $(".imeiinput").val();
    socket.emit('getLocation', {IMEI:IMEI});
    e.preventDefault();
  })
</script>


</html>