<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/muikit.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <% include shared/styles %>

    <title></title>

    <style type="text/css">
      th, td{
        text-align: center;
      }

    </style>

</head>
<body>


    <nav class="uk-navbar">
        
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li data-uk-dropdown="{mode:'click'}" class="language">
                        <button class="uk-button uk-button-default" type="button">Usario</button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="/?language=en">EN</a></li>
                                <li><a href="/">ES</a></li>
                            </ul>
                        </div>
                </li>
            </ul>
        </div>
        <a href="#toggler" class="uk-navbar-nav uk-navbar-toggle" data-uk-offcanvas="{target:'#toggler'}"></a>
    </nav>

    <div id="toggler" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul>
                <li><a href="#" data-uk-smooth-scroll>Dashboard</a></li>
                <li><a href="#" data-uk-smooth-scroll>Caminos</a></li>
                <li><a href="#" data-uk-smooth-scroll>Asignados</a></li>
                <li><a href="#" data-uk-smooth-scroll>Obras</a></li>
            </ul>
        </div>
    </div>


    <div class="container main-dashboard">
      <div class="left-section">
        <div class="card">
            <h3>CAMINOS (<span class="numberOfTrucks"></span>)</h3>
            <div class="card-main-content">
              <div id="mapid" style="width:100%;"></div>
            </div>
        </div>
      </div><div class="right-section">
        <div class="card">
            <h3>DETALLES DE VEHICULES</h3>
            <div class="card-main-content">
            </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding:50px;">
         
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>IMEI</th>
                  <th>Longitude</th>
                  <th>Latitude</th>
                  <th>Velocity</th>
                  <th>Bearing</th>
                  <th>Battery Level</th>
                  <th>Battery Temperature</th>
                  <th>Battery Status</th>
                </tr>
              </thead>
              <tbody class="main-data">

              </tbody>
            </table>
          </div>

          
    </div>


    
</body>
<% include shared/scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


<script>
      
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>


  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js"
    integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w=="
    crossorigin=""></script>

<script type="text/javascript">
  var mymap;
  var socket = io();
  var markers = {};
  var markersLayer = new L.LayerGroup();
  socket.on('updateDetailsForBrowsers', function(data){
        var marker;
        markersLayer.clearLayers();
        console.log(data);
        if(data.length >0){
          $(".numberOfTrucks").html(data.length);
          $(".numberOfTrucks").removeClass("none");
        }
        else if(data.length ==0){
          $(".numberOfTrucks").html(" No devices connected ");
          $(".numberOfTrucks").addClass("none");
        }
        var locations = [];
        $(".main-data").html("");
        data.forEach(function(details){
          var popup = L.popup()
                      .setLatLng([details.latitude, details.longitude])
                      .setContent('<b>'+details.IMEI+'</b><br><b>velocity: </b>'+details.velocity+'</br><b>batteryLevel: </b>'+details.batteryLevel+'</br><b>batteryTemperature: </b>'+details.batteryTemperature+'<br /><b>batteryStatus: </b>'+details.batteryStatus);

          marker = L.marker([details.latitude, details.longitude], {
              clickable: true
          }).bindPopup(popup, {showOnMouseOver:true});
          marker.on('click', function(e){
            console.log("clcked in");
            console.log(details);
            console.log(e);
          });
          markersLayer.addLayer(marker);
          locations.push({lat: details.latitude, lng: details.longitude});
          var html = "<tr><td>"+details.IMEI+"</td><td>"+details.longitude+"</td><td>"+details.latitude+"</td><td>"+details.velocity+"</td><td>"+details.bearing+"</td><td>"+details.batteryLevel+"</td><td>"+details.batteryTemperature+" C"+"</td><td>"+details.batteryStatus+"</td></tr>";
            $(".main-data").append(html);
        })

        markersLayer.addTo(mymap);
  })

  

  /*var gmarkers = [];
  function initializeMap(locations){
    var latlongForPosition = [];
    removeMarkers();
    
    locations.forEach(function(location){
      var marker = new google.maps.Marker({
                position: location,
                map: map
      });

      gmarkers.push(marker);

      latlongForPosition.push(new google.maps.LatLng(location.lat, location.lng));

    })

    var latlngbounds = new google.maps.LatLngBounds();
    for (var i = 0; i < latlongForPosition.length; i++) {
        latlngbounds.extend(latlongForPosition[i]);
    }
    map.fitBounds(latlngbounds);
  }

  function removeMarkers(){
      for(i=0; i<gmarkers.length; i++){
          gmarkers[i].setMap(null);
      }
  }*/
</script>
<script type="text/javascript">
  mymap = L.map("mapid").setView([19.5125, -98.9800], 13);
  mymap.options.minZoom = 13;
  mymap.options.maxZoom = 14;
  L.esri.basemapLayer("Topographic").addTo(mymap);
  var caminos = L.esri.featureLayer({
    url: '/api/layer'
  }).addTo(mymap);
</script>


</html>