<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include shared/styles %>

    <title></title>

    <style type="text/css">
    .error-message{
      color:red;
      font-size: 14px;
      padding-top: 5px;
      font-weight: bold;
    }
    </style>

</head>
<body>

    <div class="container" style="padding-top:50px;">
          <div class="login-container-modal-header">
            <h4 class="modal-title" id="myModalLabel">Signup</h4>
          </div>
          <form id="login-form" method = "post" action = "/signup" >
          <div style="text-align: center;">
            <div class="col-sm-4" style="float:none; display: inline-block; margin-top: 10px;">
                    <div>
                      <input class = "form-control-personal" type = "text" placeholder="username" name="username" />
                    </div>
                    <div>
                      <input class = "form-control-personal" type = "password" placeholder="password" name="password" />
                    </div>
                    <div>
                      <select name="company" class="form-control-personal">
                        <%company.forEach(function(comp){%>
                          <option value="<%=comp.id%>"><%=comp.name%></option>
                        <%})%>
                      </select>
                    </div>
                    
              <%if(typeof error != 'undefined'){%>
                <div class="error-message"><%=error.message%></div>
              <%}%>
              <button type="submit" class="btn btn-primary login-local" style="margin-top:20px;">Signup</button>
            </div>
          </div>
          </form>
            
    </div>
    
</body>
<% include shared/scripts %>
</html>